.footer {
  background-color: #2d3748;
  color: white;
  padding: 25px 20px;
  margin-top: 40px;
}

.footer-content {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.footer-content h3 {
  margin-bottom: 10px;
}

.footer-content p {
  color: #d1d5db;
  margin-bottom: 10px;
}



.copyright {
  font-size: 14px;
  margin-top: 15px;
  color: #a0aec0;
}