.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.login-form {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4a67d6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #3b56c0;
}

.login-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-footer a {
  color: #4a67d6;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

body.dark .login-form {
  background: #2a2a2a;
  color: white;
  border-color: #444;
}

body.dark .login-form h2 {
  color: white;
}

body.dark .login-container{
    background-color: black;
}

body.dark .login-form input {
  background: #333;
  color: white;
  border: 1px solid #555;
}